{% extends "allauth_base.html" %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<form method="POST" class="form active">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <label class="form-label" for="id_password1">New Password</label>
        {{ form.password1|add_class:"form-control" }}
        <i class="password-toggle-icon fas fa-eye"></i>
    </div>
    <div class="form-group">
        <label class="form-label" for="id_password2">Confirm New Password</label>
        {{ form.password2|add_class:"form-control" }}
        <i class="password-toggle-icon fas fa-eye"></i>
    </div>
    <button type="submit" class="btn">Set Password</button>
</form>
{% endblock %}
