@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Backgrounds */
    --color-bg-main: aliceblue;
    --color-bg-dark: #56694f;
    --color-bg-accent: #b53145;
    --color-fs1-bg: #98AA8D;

    /* Text */
    --color-text-main: #222;
    --color-text-light: whitesmoke;
    --color-text-muted: rgb(205, 198, 198);
    --color-text-accent: #963f2e;
    --color-text-footer: #caedb8;

    /* Buttons */
    --color-btn-primary: #a12638;
    --color-btn-hover: #8d2131;
    --color-btn-text: whitesmoke;
}

[data-theme="dark"] {
    /* Backgrounds */
    --color-bg-main: #24201d;
    --color-bg-dark: #1e1e1e;
    --color-bg-accent: #792e29;
    --color-fs1-bg: #565138;

    /* Text */
    --color-text-main: #f1f1f1;
    --color-text-light: #eaeaea;
    --color-text-muted: #9c9c9c;
    --color-text-accent: #ff7b66;

    /* warmer highlight */
    --color-text-footer: #7da678;
    --color-text-ingred: #a0cfa0;

    /* Buttons */
    --color-btn-primary: #d64055;
    --color-btn-hover: #b22f43;
    --color-btn-text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-main);
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 188, 188, 0.7);
}

body {
    background-color: var(--color-bg-main);
    font-family: 'Alata', sans-serif;
}

.navbar {
    gap: 1rem;
    display: flex;
    padding: 2.5rem 2rem;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 50% 19px;
    border-bottom-right-radius: 50% 27px;
    background-color: var(--color-bg-accent);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Alata", sans-serif;
    color: var(--color-btn-text);
    text-decoration: none;
}

.nav-mid-items ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-mid-items ul li {
    list-style: none;
}

.nav-mid-items ul li a {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    color: var(--color-text-main);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-mid-items ul li a:hover {
    color: var(--color-text-muted);
}

.nav-mid-items ul li.active a {
    border-bottom: 3px solid rgb(180, 169, 169);
    color: var(--color-text-muted);
    padding-bottom: 4px;
}

.nav-mid-items ul li.active a:hover {
    border-bottom: 3px solid rgb(205, 198, 198);
    padding-bottom: 4px;
}

.sub-user-menu button {
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid var(--color-btn-primary);
    background-color: var(--color-btn-primary);
    transition: all 0.2s ease;
}

.sub-user-menu button a {
    text-decoration: none;
    color: var(--color-btn-text);
    font-weight: bold;
}

.sub-user-menu button:hover {
    border: 2px solid var(--color-btn-text);
    background-color: transparent;
}

.sub-user-menu button:hover a {
    color: var(--color-btn-text);
}

.footer {
    background-color: var(--color-bg-dark);
    color: white;
    bottom: 0%;
    position: relative;
    min-width: -webkit-fill-available;
    padding: 0.7rem 1.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.footer-section-1 {
    padding: 1.4rem 3rem;
    background-color: var(--color-fs1-bg);
    border-radius: 24px;
    display: flex;
    margin: 1rem;
    width: 100%;
    min-width: 1200px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-section-1 .footer-logo-txt {
    display: flex;
    flex-direction: column;

}

.footer-section-1 #logo-text-eng {
    color: var(--color-bg-main);
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}

.footer-section-1 #logo-text-jap {
    color: var(--color-text-accent);
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

.footer-cols {
    display: flex;
    gap: 6rem;
}

.footer-section-1 .cols h3 {
    color: var(--color-text-footer);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.cols ul li {
    list-style: none;
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;
    position: relative;
    margin-bottom: 0.25rem;
    color: var(--color-bg-main);
    cursor: pointer;
}

.footer-section-2 {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
    justify-content: space-between;
    border-top: 1.5px solid var(--color-text-footer);
}

.footer-section-2 .fs2-l h3 {
    color: var(--color-bg-main);
}

.footer-section-2 .fs2-r ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-direction: row;
}

.fs2-r ul li a {
    text-decoration: none;
    color: var(--color-text-footer);
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.fs2-r ul li a:hover {
    color: #cff3bd;
    border-bottom: 2px solid #caedb8;
}

.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.contact_cont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem 0;
    padding: 2rem;
}

.sec_heading {
    font-size: 3rem;
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #b53145;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(181, 184, 185);
    overflow: hidden;
    position: relative;
}

.col::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
    z-index: 1;
    pointer-events: none;
}

.col:hover::before {
    animation: shimmer 1s ease-in-out forwards;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.card {
    text-align: center;
    background-color: rgba(147, 150, 151, 0.6);
    border-radius: 15px;
}

.card img {
    width: 250px;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
}

.card h3 {
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 600;
}

.card p {
    margin-bottom: 10px;
    font-weight: 700;
    font-family: inherit;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 8px;
    gap: 8px;
    background-color: rgba(147, 150, 151, 0.6);
    border-radius: 15px;
    margin-top: 10px;

}

.info p,
i {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #222;
    cursor: pointer;
}

.info i {
    margin-right: 5px;
}

.info a {
    text-decoration: none;
    color: #222;
}

.info p:hover,
a:hover {
    color: #555;
}