{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tsukuru</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/recipe.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">つくる</a>

            <div class="nav-mid-items">
                <ul>
                    <li><a href="/landing/">Home</a></li>
                    <li class="{% if active_page == 'cook' %}active{% endif %}"><a href="/home/">Cook</a></li>
                    <li><a href="{% url 'contact_page' %}">Contact</a></li>
                    <li><a href="https://github.com/Anshul-Bhau/Tsukuru/blob/master/README.md" target="_blank">Help</a></li>
                </ul>
            </div>

            <div class="sub-user-menu">
                <a href="/user_account/">
                    <img src="{% static 'images/pfp/default-pfp.jpg' %}" alt="{{user.username}}" id="nav_pfp">
                </a>
            </div>

        </nav>
    </header>

    {% if show_detail %}
    <section class="fullrecipe_cont" id="full_rec_cont">
        <div id="recipe_name">{{ recipe.title }}</div>

        <div class="rec_container">
            <div class="ingredients">
                <ul class="ingredients_list">
                    {% for item in ingredients %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="image">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }} image">
                {% else %}
                <img src="{% static 'images/default-img.jpg' %}" alt="Default recipe image">
                {% endif %}
            </div>
        </div>

        <div class="instructions">
            <h3>Instructions :</h3>
            <p>{{ recipe.directions|linebreaksbr }}</p>
        </div>

        <div class="back_butn">
            <button id="back_btn">← Back to All Recipes</button>
        </div>

    </section>
    {% endif %}

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section-1">
                <div class="footer-logo-txt">
                    <h2><span id="logo-text-eng">Tsukuru</span></h2>
                    <h2><span id="logo-text-jap">つくる</span></h2>
                </div>

                <div class="footer-cols">
                    <div class="cols" id="services-cont">
                        <h3>Services</h3>
                        <ul class="services">
                            <li>Recipe</li>
                            <li>Ingredient</li>
                            <li>Macros</li>
                        </ul>
                    </div>

                    <div class="cols" id="socials-cont">
                        <h3>Follow us</h3>
                        <ul class="socials">
                            <li>Github</li>
                            <li>Linkedin</li>
                            <li>Instagram</li>
                            <li>Facebook</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="footer-section-2">
                <div class="fs2-l">
                    <h3>@Copyright2025</h3>
                </div>

                <div class="fs2-r">
                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Cookie Settings</a>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>
<script src="{% static '/js/recipe.js' %}"></script>

</html>